@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: Quicksand;
}

body {
  /* margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: rgb(228, 228, 228); /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: #1f2937; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.item {
  overflow: visible;
  stroke: #dc2626;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.loader {
  border-top-color: #dc2626;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
